:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
   --main-color: #2196F3;
   --black-color:#212121;
   --white-color:#FFFFFF;
   --address-color:#757575;
   --description-color:#2F303A;
   --crew-background: #F5F4FA;
   --icon-color:#AFB1B8;
   --border-clients:#AFB1B8;
   --media-bgr-footer:rgba(255, 255, 255, 0.1);
   --hover-portfolio: rgba(33, 150, 243, 0.9);
}
 
body {
font-family: var(--main-font);
color:var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}



/* ============ COMPONENTS =========== */
.header-logo {
    color: var(--black-color);
}
.footer-logo {
    color: var(--white-color);
}

/* ============ END COMPONENTS =========== */

/* ============ HEADER =========== */

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.main-text {
display: block;
text-align: center;
width: 696px;
height: 120px;


}

img {
    display: block;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.header .container {
    display: flex;
    align-items: center;
}


.navigation {
    display: flex;
}

.nav-link:not(:last-child) {
    display: block;
    margin-right: 46px;
}

.nav-list {
    display:flex;
    align-items: center;
}



.main-section {
    padding: 200px 0 200px 0;
    flex-direction:column;
    display: flex;
    align-items: center;
    height: 600px;
    background-image:url(../Images/Img-background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
}

.main-text {
    margin-bottom: 30px;
    font-size: 44px;
    display: block;
    align-items: center;
}

.main-button  {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-style: none;
    border-radius: 4px;
}

.description {
    display: block;

}

.company-work{
    display: flex;
    justify-content: space-evenly;
}

.company-work-list {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    
}

.company-work-img {
    width: 370px;
    height: 294px;
    
}

.layer {
    position: absolute;
    width: 370px;
    height: 70px;
    text-align: center;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    padding: 27px;
}

.section {
    padding: 94px 0px;
   
}

.second-heading {
    margin-bottom: 50px;
}

.what-we-do{
     text-align: center;
}

.section-gallery {
     padding: 94px 0px;
    background-color:var(--crew-background);
    display:block
}


.gallery {
    display: flex;
    justify-content: center;
}

.gallery-list {
    display: block;
    background-color: var(--white-color);
    list-style-type:none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px
}

.gallery-list:not(:last-child) {
    margin-right:30px
}

.gallery-photo {
width: 270px;
height: 260px;
}

.section-footer {
    padding: 60px 0 60px;
}

.contact-list {
    list-style-type:none;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-heading {
    margin-bottom: 20px;
}

.btn-box {
    display: flex;

}

.button-list {
    list-style-type: none;

}

.btn-box {
    justify-content: center;
    padding: 94px 0 50px;
}


.btn-item {
    width: 93px;
    height: 38px;
    border-radius: 4px;
    border: none;
}

.button-list:not(:last-child) {
    margin-right: 8px;
}

.section-img {
    display: flex;
}


.img-list:nth-child(n + 7) {
    margin: 0;
}


.img-list:hover,
.img-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-list {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 404px;
    display: block;
    list-style-type: none;
    margin-bottom: 30px;
}

.img-list:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 370px;
height: 294px;
    background: var(--blue);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.text-photo {
    position: absolute;
    padding:49px 29px;
    letter-spacing: 0.03em;
    font-size:18px;
    line-height: 28px;
    background-color: var(--hover-portfolio);
    color: var(--white-color);
}

.photo-item {
    position: absolute;
    display: block;
    width: 370px;
    height: 294px;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
}

.img-list:not(:last-child) {
    margin-right: 30px;
}

.text-border {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    width: 370px;
    padding: 20px 24px 24px;
    border: 1px solid #EEEEEE;
}


.img-name {
    width: 322px;
    height: 36px;
    padding-bottom: 4px;
}

.function {
    width: 322px;
    height: 30px;
}


.navigation-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--main-color);
margin-right: 93px;
padding: 24px 0px 25px;

}
.nav-link-item,
.mail-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--black-color);
    
    
}

.phone-number,
.mail-address {
    color:var(--address-color);
    display: inline;
    align-items: center;
    
}

.nav-link-item:hover,
.nav-link-item:focus,
.nav-link-item-a:hover,
.nav-link-item-a:focus,
.mail-address:hover,
.mail-address:focus,
.phone-number:hover,
.phone-number:focus {
    color: var(--main-color);
}

.icon {
    margin-right: 10px;
}

.icon-mail,
.icon-phone {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill:var(--address-color);
}

.icon-mail:hover,
.icon-mail:focus,
.icon-phone:hover,
.icon-phone:focus,
.icon:hover,
.icon:focus {
    fill: var(--main-color);
}

.icon-mail {
    margin-left: 345px;
}

.icon-phone {
    margin-left: 30px;
}


.nav-link-item-a,
.nav-link-item-p {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-top: 32px;
}

.nav-link-item-a::after,
.nav-link-item-p::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    margin-top: 28px;
}

/* ============ END HEADER =========== */

/* ============ WHAT WE DO =========== */

.contact-box {
    margin-top: 94px;
    background-color:var(--description-color);
}

.display-box {
display: flex;

}
.main-text {
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.main-button {
display: block;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
background: var(--main-color);
color: var(--white-color);
cursor: pointer;
} 

.hover-transition {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    fill: var(--black-color);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.btn-icon {
    position: absolute;
    transform: translate(-50%,-50%);
    fill: var(--black-color);
}

.close-btn:hover {
    cursor:pointer;
}

.modal-registration {
    display: flex;
  flex-direction: column;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 40px;
    margin-bottom: 12px;
}

.modal-input {
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-label {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-content {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill:var(--black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment{
    outline: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal-form-policy-text {
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--address-color);
    margin-left: auto;
    margin-right: auto;
}

.modal-form-policy-text > a {
    color: var(--main-color);
    cursor: pointer;
}

.modal-form-policy-text::before {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--black-color);
    border-radius: 2px;
    margin-right: 7px;
    cursor:pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
    background-color:var(--main-color);
    background-size: contain;
    background-image: url(../Images/check.svg);
    border: none;

}

/* ============ VISUALLY-HIDDEN =========== */


.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* ============ VISUALLY-HIDDEN =========== */

    
.order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    background-color:var(--hover-portfolio);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border-style: none;
    margin: 30px 164px 40px 164px;
}

.order-btn {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer; }

.modal-content:focus,
.modal-comment:focus{
    border-color: #2196F3;
    outline: none;
  }

.modal-content:focus + .modal-icon {
    fill: var(--main-color);
}


.description-box {
    padding-top: 90px;
    justify-content: space-evenly;
    flex-basis: calc(100% / 4 -30px);
    display: flex;
}

.description-list {
    padding-right: 30px;
    list-style-type: none;
    width: 270px;
}

.icon-box {
    width: 270px;
    height: 120px;
    background-color: var(--background-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--crew-background);
}


.description-name {
    margin-bottom: 10px;
}

.description-name{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--black-color);
}
.description-text{
display: block;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--address-color);
}

.second-heading {
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color:var(--black-color);
}

/* ============ END WHAT WE DO =========== */

/* ============ CREW =========== */
.crew-name {
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
padding-top: 30px;
color:var(--black-color);
}

.member-stand {
font-weight: 400;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
padding: 10px 0 16px;
color: var(--description-color);
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 16px;
}

.media-list-icon {
    display: flex;
    list-style-type: none;
}

.media-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill:var(--icon-color);
    background-color: var(--white-color);
}

.media-link:hover,
.media-link:focus {
    fill:var(--white-color);
    background-color:var(--main-color)

}


.media-icon:hover {
    fill: var(--white-color);
}

/* ============ END CREW =========== */

/* ============ CLIENTS =========== */


.clients {
    justify-content: center;
    display: flex;
}

.client-list {
    display:flex;
    justify-content: center;
    border: 1px solid var(--border-clients);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    list-style-type: none;
}

.client-list:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    width: 170px;
    height: 92px;
    display: flex;
    fill:var(--icon-color);
    align-items: center;
    justify-content: center;
}

.client-logo {
    display: flex;
    align-items: center;
}

.client-list:hover,
.client-list:focus {
    border: 1px solid var(--main-color);
}

.client-logo:hover,
.client-logo:focus,
.client-link:hover, 
.client-link:focus {
    fill: var(--main-color);
}

/* ============ END CLIENTS =========== */

/* ============ CONTACT =========== */

.map-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--white-color);
}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color:var(--address-color);
}

.map-link:hover,
.map-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--main-color);
}

.media-footer {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 70px;
}

.header-footer {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color:var(--white-color);
    margin-top: 72px;
}

.list-footer {
    display: inline-block;
    list-style-type: none;
}


.link-footer_icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill:var(--white-color);
    background-color: var(--media-bgr-footer);
}

.link-footer_icon:hover,
.link-footer_icon:focus {
    background-color:var(--main-color);
}

.icon-footer {
    display: flex;
}
/* ============ END CONTACT =========== */








/* ============ PORTFOLIO =========== */








/* ============ HEADER PORTFOLIO =========== */



.portfolio-link-item-P {
    color: var(--main-color);
}
.portfolio-link-item-P {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.portfolio-link-item,
.portfolio-link-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color:var(--black-color);
}

.portfolio-link-item:focus,
.portfolio-link-item:hover,
.portfolio-link-item:focus, 
.portfolio-link-item:hover {
    color: var(--main-color);
}
/* ============ END HEADER PORTFOLIO =========== */

/* ============ MAIN PORTFOLIO =========== */
.btn-item {
font-family:var(--main-font) ;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color);
background:var(--crew-background);
padding: 0px;
}

.btn-item:hover,
.btn-item:focus {
background-color: var(--main-color);
cursor: pointer;
}

.img-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--black-color);

}

.function {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color:var(--address-color);
}
/* ============ END MAIN PORTFOLIO =========== */

/* ============ FOOTER PORTFOLIO =========== */

.newsletter {
    display:flex;
    padding-top: 72px;
}

.title-newsletter {

   display: flex;
   flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-left: 72px;
    color:var(--white-color);
}

.email-newsletter {
    margin-right: 12px;
    margin-top:20px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
padding-left: 16px;
color: rgba(255, 255, 255, 0.6);
}

.btn-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-top:36px;
    width: 200px;
    height: 50px;
    background:var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    color: var(--white-color);
}

.icon-send {
fill: var(--white-color);
margin-left: 24px;
}

/* ============ END FOOTER PORTFOLIO =========== */

/* ============ END PORTFOLIO =========== */
